<button [routerLink]="'/contacts/add'">New</button>
<!-- <button (click)="addNew()">New</button> -->

<ng-container *ngIf="isLoading">
  Loading ...
</ng-container>

<ng-container *ngIf="!isLoading">
  <div *ngFor="let contact of contacts" [class.is-highlighted]="contact.id === highlightedContactId">
    <strong>{{contact.name}}</strong> [{{contact.email}}]: {{contact.phone}}
    <button [routerLink]="'/contacts/edit/' + contact.id">Edit</button>
    <button (click)="delete(contact)">Delete</button>
  </div>
</ng-container>